<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Genre
        </th>
        <th>
            Console
        </th>
        <th>
            Developer
        </th>
    </tr>

    {{#each collectibles}}
    <tr>
        <td>
            {{video_game_name}}
        </td>
        <td>
            {{genrename}}
        </td>
        <td>
            {{console_name}}
        </td>
        <td>
            {{developer_name}}
        </td>
    </tr>
    {{/each}}

</table>