<table>
    <tr>
        <th>
            Name <br>
            <a href="/?sort=video_game_name_a-z">A-Z &nbsp; </a>
            <a href="/?sort=video_game_name_z-a">Z-A</a>
            <form>
                <input name="video_game_name" />
            </form>
        </th>
        <th>
            Genre <br>
            <a href="/?sort=genrename_a-z">A-Z &nbsp; </a>
            <a href="/?sort=genrename_z-a">Z-A</a>
            <form>
                <input name="genrename" />
            </form>
        </th>
        <th>
            Console <br>
            <a href="/?sort=console_name_a-z">A-Z &nbsp; </a>
            <a href="/?sort=console_name_z-a">Z-A</a>
            <form>
                <input name="console_name" />
            </form>
        </th>
        <th>
            Developer <br>
            <a href="/?sort=developer_name_a-z">A-Z &nbsp; </a>
            <a href="/?sort=developer_name_z-a">Z-A</a>
            <form>
                <input name="developer_name" />
            </form>
        </th>
    </tr>

    {{#each collectibles}}
    <tr>
        <td>
            <a href="/gamepage">{{video_game_name}}</a>
        </td>
        <td>
            {{genrename}}
        </td>
        <td>
            {{console_name}}
        </td>
        <td>
            {{developer_name}}
        </td>
    </tr>
    {{/each}}

</table>
<br>
<br>
<br>
<a href="/add-new">Add New Game:</a>